<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
      <% include header %>
  </head>
<body class="container">
  <main>
      <div class="jumbotron">
         ERROR
      </div>
  </main>
  </body>
</html>